<%= form_tag('/resources/settings/trackers', :method => :post) do %>
<%= hidden_field_tag 'project_id', @project.id %>
<fieldset>
  <legend>Project Specific Resource Workflow</legend>
        <% check_box = check_box_tag 'project_specific_resource_workflow', 'true', ResourceSetting.project_workflow_editable(@project.id)  , {:id => "project_specific_resource_workflow"  } %>
        <%= label_tag "project_specific_resource_workflow", check_box.html_safe + 'Active' %>
</fieldset>

<fieldset>
  <legend>Project Specific Resource Trackers</legend>
        <% check_box = check_box_tag 'project_specific_resource_tracker', 'true', ResourceSetting.project_tracker_editable(@project.id)  , {:id => "project_specific_resource_tracker"  } %>
        <%= label_tag "project_specific_resource_tracker", check_box.html_safe + 'Active' %>
</fieldset>

<% if ResourceSetting.project_tracker_editable(@project.id) %>
<% settings = ResourceSetting.where(:project_id => @project.id)
map = {"Tracker" => {
  :visible => [],
  :editable => []
  }, 
  "Role" => {
  :visible => [],
  :editable => []
  },
}
settings.each { |e|
  map[e.setting_object_type][e.setting_key] << e.setting_object_id if map.has_key? e.setting_object_type
}
 %>
    
    <fieldset>
      <legend>Trackers</legend>
          <% trackers = Tracker.all %>
          <% trackers.each { |tracker|  
            %>
             <% check_box = check_box_tag 'trackers[visible][]', tracker.id, (map["Tracker"][:visible].include? tracker.id), {:id => 'trackers_' + tracker.name } %>
            <%= label_tag 'trackers_' + tracker.name, check_box.html_safe + tracker.to_s %>

          
            <%
          }
          %>
    </fieldset>

    <fieldset>
      <legend>Visible for</legend>
          <% roles = Role.all %>
          <% roles.each { |role|  
            %>
             <% check_box = check_box_tag 'roles[visible][]', role.id, (map["Role"][:visible].include? role.id), {:id => "roles_visible_#{role.id}"  } %>
            <%= label_tag "roles_visible_#{role.id}", check_box.html_safe + role.to_s %>

          
            <%
          }
          %>
    </fieldset>

    <fieldset>
      <legend>Editable for</legend>
          <% roles = Role.all %>
          <% roles.each { |role|  
            %>
             <% check_box = check_box_tag 'roles[editable][]', role.id, (map["Role"][:editable].include? role.id), {:id => "roles_editable_#{role.id}"  } %>
            <%= label_tag "roles_editable_#{role.id}", check_box.html_safe + role.to_s %>

          
            <%
          }
          %>
    </fieldset>

<% end %>

<p>
<%= submit_tag l(:button_save) %>
</p>
<% end %>
