<%= form_tag '/resources/settings', method: :post do %>
  <%  resources = Resource.select([:id, :name]).order(:name)
      custom_fields = CustomField.where(type: 'IssueCustomField')
        .select([:id, :name]).order(:name)
      settings = Setting.plugin_redmine_zidox
      settings = {} if !settings || settings.blank?
      custom_field_id = settings['custom_field_id']
      if custom_field_id && custom_field_id.present?
        current_custom_field = CustomField.where(id: custom_field_id)
          .first
        trackers = current_custom_field.trackers.all
      else
        current_custom_field = nil
        trackers = []
      end
      roles = Role.select([:id, :name, :builtin]).order(:name)
      project_settings = Setting.initialize_project_settings @project %>
  <%= hidden_field_tag 'project_id', @project.id %>
  <h3>
    <% if current_custom_field %>
      <% unless trackers.empty? %>
        <%  trackers_names = trackers.map do |tracker|
              tracker.name.pluralize.capitalize
            end.join(', ') %>
        Resources are avaliable for: <%= trackers_names %>
      <% else %>
        No trackers configures for resource estimation!
      <% end %>
    <% else %>
      No custom field selected for resource estimation!
    <% end %>
  </h3>
  <table>
    <tbody>
      <tr>
        <td>
          Use project specific settings:
        </td>
        <td>
          <%= check_box_tag "settings[custom]", '1',
                project_settings['custom'] == '1' %>
        </td>
      </tr>
      <tr>
        <td>
          Resource for initial estimation:
        </td>
        <td>
          <%= select_tag 'settings[resource_id]',
            options_from_collection_for_select(resources, :id, :name,
              project_settings['resource_id']), include_blank: true %>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <h3>Visible for:</h3>
  <table>
    <tbody>
      <% roles.each do |role| %>
        <tr>
          <td>
            <%= role.name %>
          </td>
          <td>
            <%= check_box_tag "settings[visible][#{ role.id }]", '1',
                  project_settings['visible'][role.id.to_s] == '1' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <h3>Editable for:</h3>
  <table>
    <tbody>
      <% roles.each do |role| %>
        <tr>
          <td>
            <%= role.name %>
          </td>
          <td>
            <%= check_box_tag "settings[editable][#{ role.id }]", '1',
                  project_settings['editable'][role.id.to_s] == '1' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    <%= submit_tag l(:button_save) %>
  </p>
<% end %>
