<%  visible = resources_visible @issue
    editable = resources_editable @issue %>
<% if visible || editable %>
  <div id="resources" class="hidden sidebar-content sidebar-resources">
    <h3>Resources</h3>
    <% resources = @project.resources_list @issue %>
    <% if editable %>
      <div>
        <%= hidden_field_tag :issue_id, @issue.id, class: 'issue-id' %>
        <table id='resources-form'>
          <tr>
            <td class="estimation-cell">
              <%= text_field_tag :estimation, '', class: 'estimation' %> h
            </td>
            <td>
              <%= select_tag :resource_id,
                    options_from_collection_for_select(resources, :id, :code),
                    include_blank: true, class: 'resource-id' %>
            </td>
            <td class="actions">
              <a href="#" class="small button save"><%= l(:button_save) %></a>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
    <div class="resources-list">
      <%= render partial: 'resources/list',
            locals: { issue: @issue, editable: editable } %>
    </div>
  </div>
<% end %>
