<% if resources_visible(@issue, @project) %>
	<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'resources.css', :plugin => 'resources' %>
    <%= javascript_include_tag 'jquery.jeditable.mini.js', :plugin => 'resources' %>
    <%= javascript_include_tag 'resources.js', :plugin => 'resources' %>
	<% end %>

	<div id='resources' class='hidden'>
		<h3>Resources</h3>
		<%
			issue_resource = IssueResource.new 
			resources = resources_for_project(@project, @issue) 
		%>
		<%= form_for(issue_resource,{:remote => true,
                    :method => :post}) do |f| %>
			<%= hidden_field_tag :project_id, @project.id %>
			<%= hidden_field_tag :issue_id, @issue.id %>
			<table id='resources_form'>
				<tr>
					<td><%= text_field_tag :estimation %> hours
					</td>
					<td>
							<%= render partial: 'resources/resource_element', locals: {resources: resources.values} %>
					</td>
					<td class='edit_actions'>
	        <%= link_to_function l(:button_save),
	                             "$('#new_issue_resource').submit();return false;",
	                             :class => 'icon icon-save' %>
	    		<%= link_to l(:button_clear), :class => 'icon icon-reload'  %>
	       </td>
				</tr>	
			</table>
		<% end %>
		<div id='resources_list_container'>
			<%= render partial: 'resources/list', locals: {issue: @issue} %>
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#resources_container').replaceWith($('#resources'));
	});</script>
<% end %>