<%  editable_class = editable ? 'editable' : ''
    issue ||= @issue_resource.issue
    divisions = issue.resources_with_divisions %>
<%= hidden_field_tag 'has_resources', divisions.count %>
<% divisions.each do |id, division| %>
  <table>
    <tr>
      <td colspan="3" class="division-name">
        <strong><%= division[:name] %></strong>
      </td>
    </tr>
    <% division[:elements].each do |issue_resource| %>
      <tr>
        <td class="estimation-cell <%= editable_class %>">
        <div class="hours <%= editable_class %>"
          data-id="<%= issue_resource[:id] %>"
          data-value="<%= issue_resource[:estimation] %>"><%= issue_resource[:estimation] %></div> h
        </td>
        <td><%= issue_resource[:code] %></td>
        <% if editable %>
          <td>
            <a href="#" class="icon icon-del remove"
              data-id="<%= issue_resource[:id] %>">Delete</a>
           </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
