<table id='resources_list'>
      <% 
      issue ||= @issue_resource.issue
      departments = issue.resources_with_departments
      departments.each_pair { |department_name, issues_list| %>
        <tr>
          <td colspan='2' class='department_name'>
            <strong><%=department_name%></strong>
          </td>
          <td>
            <strong>&nbsp;</strong>
          </td>
        </tr>
        <% issues_list.each { |ri| %>  
          <tr>
            <td class='estimation_cell' id='cell-<%=ri.id %>'>
            <div id='resource-<%=ri.id %>' class='resource_estimation' data-resource-id='<%= ri.id %>'><%= ri.estimation %></div>h
            </td>
            <td><%= ri.resource.code %></td>

             <td>
                <%= delete_link issue_resource_path(ri),
                                :remote => true if true %>
             </td>
          </tr>
        <% } %>
      <% } %>
</table>