<%  editable_class = editable ? 'resource_estimation_editable' : ''
    issue ||= @issue_resource.issue
    divisions = issue.resources_with_divisions %>
<%= hidden_field_tag 'has_resources', divisions.count %>
<% divisions.each do |id, division| %>
  <table>
    <tr>
      <td colspan="3" class="division-name">
        <strong><%= division[:name] %></strong>
      </td>
    </tr>
    <% division[:elements].each do |issue_resource| %>
      <tr>
        <td class="estimation-cell" id="cell-<%= issue_resource[:id] %>">
        <div id="resource-<%= issue_resource[:id] %>" class="resource-estimation <%= editable_class %>" data-resource-id="<%= issue_resource[:id] %>">
          <%= issue_resource[:estimation] %>
        </div> h
        </td>
        <td><%= issue_resource[:code] %></td>
        <td>
          <%= delete_link issue_resource_path(issue_resource[:id]), remote: true if editable %>
         </td>
      </tr>
    <% end %>
  </table>
<% end %>
