<%  editable_class = editable ? 'resource_estimation_editable' : ''
    issue ||= @issue_resource.issue
    divisions = issue.resources_with_divisions %>
<%= hidden_field_tag 'has_resources', divisions.count %>
<% divisions.each do |id, division| %>
  <table>
    <tr>
      <td colspan="3" class="division-name">
        <strong><%= division[:name] %></strong>
      </td>
    </tr>
    <% division[:elements].each do |issue_resource| %>
      <tr>
        <td class="estimation-cell">
        <div class="resource-estimation <%= editable_class %>"
          data-id="<%= issue_resource[:id] %>">
          <%= issue_resource[:estimation] %>
        </div> h
        </td>
        <td><%= issue_resource[:code] %></td>
        <td>
          <a href="#" class="icon icon-del remove"
            data-id="<%= issue_resource[:id] %>">Delete</a>
         </td>
      </tr>
    <% end %>
  </table>
<% end %>
