<%
editable_class = editable ? 'resource_estimation_editable' : ''
issue ||= @issue_resource.issue
divisions = issue.resources_with_divisions
%>
<%= hidden_field_tag 'has_resources', divisions.count %>
<div id='resources_list'>
    <% divisions.each_pair { |division_name, issues_list|  %>
    	<table>
	        <tr>
	          <td colspan='3' class='division_name'>
	            <strong><%=division_name%></strong>
	          </td>
	        </tr>
	        <% issues_list.each { |ri| %>
	          <tr>
	            <td class='estimation_cell' id='cell-<%=ri.id %>'>
	            <div id='resource-<%=ri.id %>' class='resource_estimation <%=editable_class %>' data-resource-id='<%= ri.id %>'><%= ri.estimation %></div>h
	            </td>
	            <td><%= ri.resource.code %></td>

	             <td>
	                <%= delete_link issue_resource_path(ri),
	                                :remote => true if editable %>
	             </td>
	          </tr>
	        <% } %>
        </table>
      <% } %>
</div>
