<% 
editable_class = editable ? 'resource_estimation_editable' : '' 
issue ||= @issue_resource.issue
departments = issue.resources_with_departments
issue_workflow_list = issue.list_resources_workflow
%> 
<table id='resources_list'>
    <% departments.each_pair { |department_name, issues_list|  %>
        <tr>
          <td colspan='2' class='department_name'>
            <strong><%=department_name%></strong>
          </td>
          <td>
            <strong>&nbsp;</strong>
          </td>
        </tr>
        <% issues_list.each { |ri| %>  
          <tr>
            <td class='estimation_cell' id='cell-<%=ri.id %>'>
            <div id='resource-<%=ri.id %>' class='resource_estimation <%=editable_class %>' data-resource-id='<%= ri.id %>'><%= ri.estimation %></div>h
            </td>
            <td><%= ri.resource.code %></td>

             <td>
                <%= delete_link issue_resource_path(ri),
                                :remote => true if editable %>
             </td>
          </tr>
        <% } %>
      <% } %>
</table>
<script type='text/javascript'>
  window.issue_workflow_list = <%= issue_workflow_list.to_json.html_safe %>
</script>