<% if @project.module_enabled?("redmine_resources") %>
  <% code = member.resource.code unless  member.resource.nil? %>
  <% resource_id = member.resource.id unless  member.resource.nil? %>
  <% resources = Resource.all %>
  <td class="resources">
    <span id="member-<%= member.id %>-resources"><%= code %></span>
          <%= form_for(member,
                   {:as => :membership, :remote => true,
                    :url => membership_path(member),
                    :method => :put,
                     :html => { :id => "member-#{member.id}-resources-form", :class => 'hol' }}
             ) do |f| %>
        <p>
      <%= label_tag("member-#{member.id}-resource", 'Resource:') %>
      <%= select_tag "member-#{member.id}-resource_id", options_from_collection_for_select(resources, "id", "code", member.resource.id), class: 'resources_autocomplete_after_edit' %>
			</p>
        <p>
          <%= submit_tag l(:button_save), :class => "small" %>
          <%= link_to_function(l(:button_cancel),
                               "$('#member-#{member.id}-resources').show(); $('#member-#{member.id}-resources-form').hide(); return false;") %>
        </p>
      <% end %>
  </td>
<% end %>
